<h1>Users with more than</h1>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Referrals Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @more.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.referrals.size %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>










<%= form_for(:user, url: more_path) do |f| %>

    <%= f.label :more_than %>
    <%= f.text_field :more_than , class: 'form-control' %>

    <%= f.submit "search", class: "btn btn-primary" %>
<% end %>

<%= form_for(:user, url: more_path) do |f| %>

    <%= f.label :more_or_equal_to %>
    <%= f.text_field :more_or_equal_to, class: 'form-control' %>

    <%= f.submit "search", class: "btn btn-primary" %>
<% end %>