<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
<br />
  <strong>Referrer:</strong>
  <% referrer = @user.referrer %>
  <% unless referrer.nil? %>
    <tr>
      <td><%= referrer.name %></td>
      <td><%= link_to 'Show', referrer %></td>
      <td><%= link_to 'Edit', edit_user_path(referrer) %></td>
      <td><%= link_to 'Destroy', referrer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<br />
  <strong>Referrals:</strong>
  <% @user.referrals.each do |referral| %>
    <tr>
      <td><%= referral.name %></td>
      <td><%= link_to 'Show', referral %></td>
      <td><%= link_to 'Edit', edit_user_path(referral) %></td>
      <td><%= link_to 'Destroy', referral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <br />
  <strong>Original:</strong>
  <tr>
    <% original = @user.original %>
    <td><%= original.name %></td>
    <td><%= link_to 'Show', original %></td>
    <td><%= link_to 'Edit', edit_user_path(original) %></td>
    <td><%= link_to 'Destroy', original, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
